<div class="message-info">
  <span><%= message.user.nick %> </span>
  <span><%= message.user.email %> </span>
  <span><%= message.created_at %> </span>
</div>
  <p>
    <%= message.content %><br>
  </p>

