<h1>Welcome to <a href="#" class="logo">
  <span class="logo-img"><img src="/assets/berry.png" alt="" class="img-responsive"></span>
  <i>Berries-shop</i>
</a></h1>
<p></p><%= link_to 'Messages', "messages" %></p>
<p><%= link_to 'Product list', "products", class:'glyphicon glyphicon-list-alt' %></p>
